<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849550756334-vh150jufkomsics7489041elq22nuckn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849550756334-vh150jufkomsics7489041elq22nuckn</string>
	<key>API_KEY</key>
	<string>AIzaSyCoRBqLiqL14yDbLXFhDvGKWxHGSeJF6do</string>
	<key>GCM_SENDER_ID</key>
	<string>849550756334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.random.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-nick-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-nick-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849550756334:ios:ea75c4c0c254183483e6ff</string>
</dict>
</plist>